.thing-form
  margin 20px 0

.float-right
  float right

.scrollable-body
  padding-bottom: 1em

.relative
  position: relative

.simple-padding
  padding 1em

.mb-instructions
  font-size 1.3em

.mb-animate-list.ng-enter.ng-enter-active
// .mb-animate-list.ng-leave
{
  opacity: 1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -ms-transform: scale(1, 1); /* IE 9 */
    -webkit-transform: scale(1, 1); /* Safari */
    transform: scale(1, 1);
}

/* Remove animation */
// .mb-animate-list.ng-leave.ng-leave-active,
.mb-animate-list.ng-enter
{
  opacity: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -ms-transform: scale(0.3, 0.3); /* IE 9 */
  -webkit-transform: scale(0.3, 0.3); /* Safari */
  transform: scale(0.3, 0.3);
}

.text-center
  text-align: center

.margin-bottom-1
  margin-bottom: 0.5em;

.loggedIn
  margin-top 50px

.fixed-header-stopper
  -webkit-transform translateZ(0)
  transform translateZ(0)

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #4393B9
  color #F5F5F5
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.footer
  border-top 1px solid #E5E5E5
  margin-top 70px
  padding 30px 0
  text-align center

.mb-draggable-ghost
  background-color #2ECC71

.panel-chevron
  padding-left 0.5em

.panel-heading
  a
    cursor pointer

.mb-link
  cursor pointer
.inEditMode .mb-link
  cursor move

.inEditMode .grid-stack-item-content
  text-align: center
  border-radius: 3px
  padding 1.5em
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)

.mb-list-item
  display: block
  padding 1em

.mb-list-label
  display block
  float left
.mb-list-checkbox
  display block
  float right



/**
 * Modal starts here.
 */
.vanilla-modal-wrapper {
  display: none;
}

.vanilla-modal .vanilla-modal-wrapper {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .vanilla-modal-wrapper > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .vanilla-modal-wrapper {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.vanilla-modal-inner {
  position: fixed;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: translateY(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  -webkit-transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  top: 50%;
  left: 50%;
}
.modal-visible .vanilla-modal-inner {
  z-index: 100;
  opacity: 1;
  transition: opacity 0.2s, transform 0.2s;
}

.modal-hider {
  display: none;
}

a[rel="modal:close"] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}
